{% extends "base.html.j2" %}
{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h2 style="color: red; font-size: 24px; font-weight: bold;">Erro: {{ error_message }}</h2>
</div>
{% endblock %}
