{% extends "base.html.j2" %}
{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h2 style="color: green; font-size: 24px; font-weight: bold;">Usuário {{ user.username }} Criado com Sucesso!</h2>
</div>
{% endblock %}
